* {
    font-size: 30px;
    margin: 0;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    color: white;
    background-color: red;
}

.content {
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    background-color: lightblue;
}

.aside_left {
    flex-basis: 100%;
    padding: 10px;
    height: 30vh;
    text-align: center;
    color: white;
    background-color: green;
}

.aside_right {
    flex-basis: 100%;
    padding: 10px;
    height: 30vh;
    text-align: center;
    background-color: pink;
}

.foot {
    flex-basis: 100%;
    padding: 10px;
    text-align: center;
    background-color: plum;
}


