* {
    box-sizing: border-box;
}

h2 {
    margin: 15px;
    text-align: center;
    font-size: 28px;
}

hr {
    width: 130px;
    height: 2px;
    background-color: rgb(89, 16, 156);
}

/*
*
HEADER START
*
*/

.main-header {
    margin-bottom: 0;
    height: 70vh;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content { 
    color: darkblue;
    text-align: center;
}

header h1 {
    font-family: 'Rajdhani';
    font-size: 60px;
}

header p {
    font-family: 'Rajdhani';
    font-size: 40px;
}

header button {
    font-size: 18px;
    background-color: rgba(135, 206, 250, 0.692);
    padding: 10px;
    border: 3px solid rgb(86, 131, 216);
    border-radius: 7%;
}

header button:hover {
    color: rgb(179, 0, 0);
    border: 3px solid red;
}

/*
*
HEADER END
*
*/

/*

*
NAV BAR START
*
*/
.main-nav{
    font-size: 19px;
}

.main-nav ul {
    margin: 0px;
    padding: 15px;
    background-color: lightskyblue;
    text-align: center;

    
}

.main-nav li {
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
}

.main-nav a:hover {
    color: red;
}

/*
*
NAV BAR END
*
*/

/*
*
ABOUT CONTENT START
*
*/

section.about {
    text-align: center;
}

section.about .about-img img {
    border-radius: 50%;
}

section.about .about-text p {
    margin-left: 20%;
    margin-right: 20%;
}

/*
*
ABOUT CONTENT END
*
*/